.formContainer {
  width : 400px;
  margin : 60px auto 130px;
}
.formHead {
  color : var(--orange-3);
}
.formContainer form {
  width: 100%;
}
.formGroup {
  margin : 12px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
.formGroup input:not([type=checkbox]), .formGroup button {
  width : 100%;
  padding : 15px;
}
.formGroup input {
  border : 1px solid #D9D9D9;
  border-radius: 5px;
}
.submitBtn {
  background-color: var(--orange);
  margin-top: 20px;
}
.switchBtn {
  background-color: var(--blue-1);
  margin-top: 12px;
}
.switchBtn, .submitBtn {
  color : white;
  font-weight : bold;
}
.formGroup a {
  color : var(--orange);
  text-decoration: underline;
  font-size: 15px;
}
.formGroup label {
  color: #747474;
  font-size: 15px;
}
.formGroup p {
  margin : 0;
  color : red;
  text-align: left;
  font-size: 13px;
}
.formGroup p ~ input   {
  border: 1px solid red;
}
.authError {
  margin: 3px;
  color :  red;
  text-align: center;
}
.formGroup input.n234 {
  width : 19%;
  padding : 10px;
  text-align: center;
  letter-spacing: 4px;
  font-weight: bold;
}
@media screen and (max-width : 768px) {
  .formContainer {
    width: 90vw;
    max-width: 400px;
  }
}