@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --black : #000;
  --dark: #3E3E3E;
  --main-gray : #F5F5F5;
  --light-gray : #FCFCFC;
  --orange : #F27D1DE0;
  --orange-2 : #F27D1DA6;
  --orange-3 : #B45303;
  --gray-1 : #929292;
  --gray-2 : #393939; 
  --gray-3 : #6A6A6A;
  --blue-1 : #009BDC;
}
body { 
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  background-color: var(--main-gray);
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
button {
  border : none
}
button:hover {
  cursor : pointer
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-justify {
  display: flex;
  justify-content: center;
}
.flex-align {
  display: flex;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.bold {
  font-weight: bold;
}
.bolder {
  font-weight: 900;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}