@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --black : #000;
  --dark: #3E3E3E;
  --main-gray : #F5F5F5;
  --orange : #F27D1DE0;
}
body { 
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  background-color: var(--main-gray);
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

button:hover {
  cursor : pointer
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-justify {
  display: flex;
  justify-content: center;
}
.flex-align {
  display: flex;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.bold {
  font-weight: bold;
}